extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h2 Account Data Backup


    p If you run into any issues, please use the form below. Thank you 

    script(type='text/javascript', src='https://form.jotform.com/jsform/202616652536152')

