extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h3 Manage Your Blog Posts

  include ../partials/profilehead.pug

    .form-group.row
    a(href='/account/blogsettings') Blog Settings - 
    a(href='/account/createpost') New Post

    hr

  - if (blogs.length)
    each posts in blogs 
        strong #{posts.posttitle} - #{posts.postdate}  - #{posts.postcat}
        br
        #{posts.post}
        hr 

