extends layout

block content
  h1 UMATI means community
  p We support sustainable community enterprise through training, funding opportunities, and transparency for self help groups.
  hr

  .home-hero
    .feature
      h3 Self help groups
      p Emphasis of self responsibility in small groups
    .special
      h3 Offer a loan
      p Lift up someone and their community by supporting proven ecologically sustainabile business models.
    .amazing
      h3 Develop your sustainable community enterprise niche
      p We research and share info about successes and common challenges regenerative economic models face.
    .news
      h3 Succeed together as a group
    .cta
      p Get started today!. 
      a.button.btn.btn-success.spam-button(href='/signup') Create a free account now!
  .row
    .col-md-6 
      hr  


  .row
    .col-md-6
      h2 Self Help Groups
      p Umati Bank is a resource for self help groups. We provide a reminder service and database to help support the success of small groups that meet regularly and help one another with small business via small loans, promotion, and business management tools.
      p
        a.btn.btn-raised(href='#', role='button') Participating groups »
    .col-md-6
      h2 Offer a loan
      p At the heart of this service is our desire to see local businesses thrive. Members of self help groups are encouraged to meet on a regular weekly basis, to help members to keep their business and financial goals on track.  Umati service is being designed to provide a review portal for self help group members wishing to access small zero interest loans offered from their own groups as well as the international community. 
      p
        a.btn.btn-raised(href='#', role='button') Sponsor a loan »
    .col-md-6
      h2 Group Leaders
      p Umati Bank provides an accounting system for group leaders to use in tracking contributions to their group account. We do not hold money for groups, rather, we allow group leaders to report the weekly contributions, notify their members of their savings progress, and provide methods of tracking individual member savings, loan disbursements, and loan repayments.
      p Umati Bank provides an accounting system for group leaders to use in tracking contributions to their group account. We do not hold money for groups, rather, we allow group leaders to report the weekly contributions, notify their members of their savings progress, and provide methods of tracking individual member savings, loan disbursements, and loan repayments.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Self help group members
      p As a member of an Umati self help group, you are able to maintain your own blog here, request support for your small business from the internet community visiting umatibank.com loan request portal, and learn more about opportunites that help grow your business. 
      p
        a.btn.btn-raised(href='#', role='button') View details »

  .row
    .col-md-12
    hr   
    p 
    hr