.main-content
  .month.month--feb(style="--color:#db7a7a;") February
  .date(style="--color:#db7f7a;") 1
  .date(style="--color:#db847a;") 2
  .date(style="--color:#db8d7a;") 3
  .date(style="--color:#db8d7a;") 4
  .date(style="--color:#db917a;") 5
  .date(style="--color:#db967a;") 6
  .date(style="--color:#db9a7a;") 7
  .date(style="--color:#db9a7a;") 8
  .date(style="--color:#db9f7a;") 9
  .date(style="--color:#dba37a;") 10
  .date(style="--color:#dba87a;") 11
  .date(style="--color:#dbac7a;") 12
  .date(style="--color:#dbb07a;") 13
  .date(style="--color:#dbb57a;") 14
  .date(style="--color:#dbbe7a;") 15
  .date(style="--color:#dbc27a;") 16
  .date(style="--color:#dbc77a;") 17
  .date(style="--color:#dbd07a;") 18
  .date(style="--color:#dbd47a;") 19
  .date(style="--color:#dbd97a;") 20
  .date(style="--color:#d9db7a;") 21
  .date(style="--color:#d0db7a;") 22
  .date(style="--color:#cbdb7a;") 23
  .date(style="--color:#c7db7a;") 24
  .date(style="--color:#c2db7a;") 25
  .date(style="--color:#bedb7a;") 26
  .date(style="--color:#b9db7a;") 27
  .date(style="--color:#b5db7a;") 28
  .month.month--mar(style="--color:#b0db7a;") March
  .date(style="--color:#acdb7a;") 1
  .date(style="--color:#a7db7a;") 2
  .date(style="--color:#a3db7a;") 3
  .date(style="--color:#9adb7a;") 4
  .date(style="--color:#96db7a;") 5
  .date(style="--color:#91db7a;") 6
  .date(style="--color:#8ddb7a;") 7
  .date(style="--color:#88db7a;") 8
  .date(style="--color:#7fdb7a;") 9
  .date(style="--color:#7bdb7a;") 10
  .date(style="--color:#7adb7e;") 11
  .date(style="--color:#7adb82;") 12
  .date(style="--color:#7adb87;") 13
  .date(style="--color:#7adb90;") 14
  .date(style="--color:#7adb9d;") 15
  .date(style="--color:#7adba6;") 16
  .date(style="--color:#7adbaf;") 17
  .date(style="--color:#7adbb3;") 18
  .date(style="--color:#7adbb8;") 19
  .date(style="--color:#7adbc1;") 20
  .date(style="--color:#7adbce;") 21
  .date(style="--color:#7adbd3;") 22
  .date(style="--color:#7adbd7;") 23
  .date(style="--color:#7adadb;") 24
  .date(style="--color:#7ad6db;") 25
  .date(style="--color:#7ad1db;") 26
  .date(style="--color:#7acddb;") 27
  .date(style="--color:#7ac8db;") 28
  .date(style="--color:#7ac4db;") 29
  .date(style="--color:#7abfdb;") 30
  .date(style="--color:#7ab6db;") 31
  .month.month--title(style="--color:#7ab6db;") you've got plans
  .explanation(style="--color:#7ab2db;")
    | Part of the 
    a(href="https://codepen.io/collection/DQvYpQ/", target="_blank") CSS Grid collection here
    | .
  footer(style="--color:#7ab2db;")
    a(href="https://twitter.com/meowlivia_", target="_blank")
      i.icon-social-twitter.icons
    a(href="https://github.com/oliviale", target="_blank")
      i.icon-social-github.icons
    a(href="https://dribbble.com/oliviale", target="_blank")
      i.icon-social-dribbble.icons
  // more colors: '#7aaddb', '#7aa9db','#7aa5db', '#7a9cdb', '#7a97db', '#7a8edb', '#7a81db', '#7c7adb', '#817adb', '#8a7adb', '#8e7adb', '#977adb', '#9c7adb', '#a57adb', '#a97adb', '#ae7adb', '#b27adb', '#b67adb', '#bb7adb', '#bf7adb', '#c47adb', '#c87adb', '#cd7adb', '#d17adb', '#d67adb', '#da7adb', '#db7ac5', '#db7ac1','#db7ab8','#db7ab3', '#db7aaf', '#db7aaa', '#db7aa6', '#db7aa2', '#db7a9d', '#db7a99', '#db7a94', '#db7a90', '#db7a87', '#db7a82', '#db7a82', '#db7a7a']
  .event.event--1
    .event__name Valentines party with Ames ❤️
  .event.event--2
    .event__name 😎 Die Hard binge weekend 😎
  .event.event--3
    .event__name Dinner w/ Gina 💯
  .event.event--4a
    .event__name Charles' Taco...
  .event.event--4b
    .event__name ... Food Truck Opening 🌯
  .event.event--5
    .event__name Run-through 🎃
