extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h3 New Calendar Entry

  include ../partials/profilehead.pug

    .form-group.row
    a(href='/account/calsettings') Settings

  form(action='/account/calentrycreate', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='user', value=user.id)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='calentrytitle') Calendar Entry Title
      .col-md-7
        input.form-control(type='text', name='calentrytitle', id='calentrytitle')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='caldate') Date
      .col-md-7
        input.form-control(type='date', name='caldate', id='caldate')        
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='post') Post Content
      .col-md-7
        textarea.form-control( name="post", rows="6", cols="66", autocomplete='post' )
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='location') Location
      .col-md-7
        input.form-control(type='text', name='location', id='location')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='calcat') Category
      .col-md-7
        input.form-control(type='text', name='calcat', id='calcat')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='caltags') Tags
      .col-md-7
        input.form-control(type='text', name='caltags', id='caltags')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='time') Time
      .col-md-7
        input.form-control(type='time', name='time', id='time')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Create Entry