h2 project phase: Conseptualization

a(href='/account/bizplan') Business Plan
a(href='/account/bizprojres') Market research
if (user.projphase == "concept") 
   p Concepts - a good starting point. Can we define the 'moving parts'?
   p Please note that use case headers are being set up with project basic services in mind. 
else
   a(href='/account/elevator') Podcast - 
a(href='/account/cal') Calendar - 
a(href='/account/group') Groups - 
hr
