extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h2 Confirm delete

    p You are about to remove your account and all of the data associated with it will be deleted forever.

    p To go ahead with this, please type the email associated with your account, and 
