extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

  include ../partials/profilehead.pug
  a(href='/account/group') SELF HELP GROUP -
  a(href='/account/groupsettings') Settings

  hr

  h3.caps #{user.profile.group} GROUP NOTES

  form(action='/account/creategroup', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='user', value=user.id)
    input(type='hidden', name='group', value=user.profile.group)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='name') Name
      .col-md-7
        input.form-control(type='text', name='name', id='name')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='admin') Admin
      .col-md-7
        input.form-control(type='text', name='admin', id='admin')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='comment') Comment
      .col-md-7
        textarea.form-control( name="comment", rows="6", cols="66", autocomplete='comment' )
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='witness') Witness
      .col-md-7
        input.form-control(type='text', name='witness', id='witness')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='secret') Secret
      .col-md-7
        input.form-control(type='text', name='secret', id='secret')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='date') Date
      .col-md-7
        input.form-control(type='date', name='date', id='date')        
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='time') Time
      .col-md-7
        input.form-control(type='time', name='time', id='time')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Create Entry
