extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h3 Create a new Blog Post

  include ../partials/profilehead.pug

    hr
    a(href='/account/blog') Blog -
    a(href='/account/blogsettings') Settings - 
    a(href='#', type="button", data-toggle="modal", data-target="#myModal") Media Manager
  
    .modal#myModal
      .modal-dialog
        .modal-content.content
          .modal-header
            .row
            .col-md-7
            h4.modal-title UMATI BANK
               img(src="/lion.png",border="0")
               a.navbar-brand(href='/')
               | &nbsp;UMATI BANK
            button.close(type="button", data-dismiss="modal") ×
          .modal-body.content
            .row
            .col-md-5
            span Note, this is set up to use 3rd party APIs. go to your 
            a(href='/account/profile') account profile 
            to add one.
            h2  Add images
            form(action="/account/upload", method="POST", enctype="multipart/form-data")
            input(type='hidden', name='user', value=user.id)
            p Name of item:
            input.thedata(type="text", name="item")
            br
            br
            | 
            Photo
              input.thefile(type="file", name="uploaded_file")  
              button(type="submit") Add item

        
          .modal-footer
            button.btn.btn-danger(type="button", data-dismiss="modal") Close


  form(action="/account/createpost", method="POST")
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='user', value=user.id)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='posttitle') Post Title
      .col-md-7
        input.form-control(type='text', name='posttitle', id='posttitle')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='authorname') Author name
      .col-md-7
        input.form-control(type='text', name='authorname', id='authorname')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='post') Post Content
      .col-md-7
        textarea.form-control( name="post", rows="6", cols="66", autocomplete='post' ) #{user.business.post}
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='location') Location
      .col-md-7
        input.form-control(type='text', name='location', id='location')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='postcat') Category
      .col-md-7
        input.form-control(type='text', name='postcat', id='postcat')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='posttags') Tags
      .col-md-7
        input.form-control(type='text', name='posttags', id='posttags')
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-left(for='postdate') Date
      .col-md-7
        input.form-control(type='date', name='postdate', id='postdate')
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn.btn-primary(type='submit')
          i.fas.fa-pencil-alt.fa-sm
          | Create post
