//  the container 
#app
//  Regular template container(optional) 
//  if you need this component used in other component, you can specify name in the tag
script#example(type="text/regular", name="example").
	
	<textarea r-model="content">#title</textarea>
	 <div r-markdown={content} id="markdown"></div>
	
//  include regular.js 
script(src="https://rawgit.com/regularjs/regular/master/dist/regular.js")
script(src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js")
script.
	
	Regular.directive("r-markdown", function(elem, value){
	  this.$watch(value, function(nvalue){
	    elem.innerHTML = marked(nvalue);
	  })
	})
	
	var application = new Regular({
	  template: '#example'
	}).$inject('#app');
	
