extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
  
  span INVENTORY - 
  a(href='/account/inventorysettings') Settings - 
  a(href='/account/createinventory') Add inventory item - 
  a(href='/account/createloc') New location - 
  a(href='/account/createdonation') List a donation

    hr
    br

  - var userr = { id: user._id }
  - if (data.length)

  .card-columns
    each posts in data
       if posts.visibility != "none" 
           .card.bg-light
             .card-body.text-left
               h2 #{posts.name} 
               p.card-text.text-center - #{posts.location}
               p.card-text.text-center - #{posts.inventorytags}
               p.card-text.text-center - #{posts.post}
               br
               a.align-left(href='/account/inventory/'+posts._id) Edit
    hr 

  include ../partials/profilehead.pug
