extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
  include ../partials/profilehead.pug
  
  span INVENTORY - 
  a(href='/account/inventorysettings') Settings - 
  a(href='/account/createinventory') Add an item

    hr
    br

  - var userr = { id: user._id }
  - if (data.length)

  .card-columns
    each posts in data
       if posts.visibility != "none" 
           .card-bg-light
             .card-body.text-left
               p.card-text.string #{posts.inventorytitle} 
               p.card-text.tex-center - #{posts.location}
               p.card-text.tex-center - #{posts.inventorytags}
               p.card-text.tex-center - #{posts.post}
               br
               a(href='/account/inventory/'+posts._id) Edit
    hr 

