script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
script(src="https://bossanova.uk/jexcel/v4/jexcel.js")
link(rel="stylesheet", href="https://bossanova.uk/jexcel/v4/jexcel.css", type="text/css")
script(src="https://bossanova.uk/jsuites/v2/jsuites.js")
link(rel="stylesheet", href="https://bossanova.uk/jsuites/v2/jsuites.css", type="text/css")
#spreadsheet
input(type="button", value="Add new row", onclick="$(\'#spreadsheet\').jexcel(\'insertRow\')")
script.
  
  var options = {
      minDimensions:[10,10],
      tableOverflow:true,
  }
  
  $('#spreadsheet').jexcel(options);
  
