extends ../layout
block content


  include ../partials/messageui.pug

                each item,index in message_list
                    .email-head-sender.colorrow1.d-flex.align-items-center.justify-content-between.flex-wrap
                      .d-flex.align-items-center
                        .sender.d-flex.align-items-center #{item.sentfrom}
                      .d-flex.align-items-center
                        .sender.d-flex.align-items-center #{item.subject}
                        br
                      .d-flex.align-items-center
                        .date #{moment(item.createdAt).format('lll')}

                        
                    .email-head-sender.colorrow2.d-flex.align-items-center.justify-content-between.flex-wrap
                        .sender.d-flex.align-items-center #{item.message}

                    a.icon.d-flex.align-items-right.justify-content-between.flex-wrap(href='messagestrash/' + item._id )
                      svg.feather.feather-trash.text-muted(xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 24 24", fill="none", stroke="currentColor", stroke-width="2", stroke-linecap="round", stroke-linejoin="round", data-toggle="tooltip", data-original-title="Delete")
                        polyline(points="3 6 5 6 21 6")
                        path(d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2")


