extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom


    a(href='/account/supportersignup') Signup with priority support 
    span - 
    a(href='/account/signup') Free Signup

    h3 What you get with priority support

    p Priority support customers have first consideration rights for feature requests, can request specific customizations to the codebase, design customization, and one on one training in the use of the Umaticore codebase. 

    p We appreciate the people who support us! Accordingly, we reward finanial support to our team by listening and taking swift action. Thank you for considering a priority support plan for your project.  If this sounds like a good plan for your group, please sign up for priority support now!

    p a(href='/account/supportersignup') Get started here
