header
  // Navbar
  nav.navbar.navbar-expand-lg.navbar-dark.fixed-top.scrolling-navbar
    .container
      a.navbar-brand(href='#')
        strong MDB
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent-7' aria-controls='navbarSupportedContent-7' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent-7.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
          li.nav-item.active
            a.nav-link(href='#')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#') Link
          li.nav-item
            a.nav-link(href='#') Profile
        form.form-inline
          .md-form.my-0
            input.form-control.mr-sm-2(type='text' placeholder='Search' aria-label='Search')
  // Navbar
  // Full Page Intro
  .view(style="background-image: url('https://mdbootstrap.com/img/Photos/Others/images/91.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;")
    // Mask & flexbox options
    .mask.rgba-gradient.align-items-center
      // Content
      .container
        // Grid row
        .row.mt-5
          // Grid column
          .col-md-6.mb-5.mt-md-0.mt-5.white-text.text-center.text-md-left
            h1.h1-responsive.font-weight-bold.wow.fadeInLeft(data-wow-delay='0.3s') Sign up right now! 
            hr.hr-light.wow.fadeInLeft(data-wow-delay='0.3s')
            h6.mb-3.wow.fadeInLeft(data-wow-delay='0.3s')
              | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem repellendus quasi fuga
              | nesciunt dolorum nulla magnam veniam sapiente, fugiat! Commodi sequi non animi ea
              | dolor molestiae, quisquam iste, maiores. Nulla.
            a.btn.btn-outline-white.wow.fadeInLeft(data-wow-delay='0.3s') Learn more
          // Grid column
          // Grid column
          .col-md-6.col-xl-5.mb-4
            // Form
            .card.wow.fadeInRight(data-wow-delay='0.3s')
              .card-body
                // Header
                .text-center
                  h3.white-text
                    i.fas.fa-user.white-text
                    |  Register:
                  hr.hr-light
                // Body
                .md-form
                  i.fas.fa-user.prefix.white-text.active
                  input#form3.white-text.form-control(type='text')
                  label.active(for='form3') Your name
                .md-form
                  i.fas.fa-envelope.prefix.white-text.active
                  input#form2.white-text.form-control(type='email')
                  label.active(for='form2') Your email
                .md-form
                  i.fas.fa-lock.prefix.white-text.active
                  input#form4.white-text.form-control(type='password')
                  label(for='form4') Your password
                .text-center.mt-4
                  button.btn.btn-indigo Sign up
                  hr.hr-light.mb-3.mt-4
                  .inline-ul.text-center
                    a.p-2.m-2.tw-ic
                      i.fab.fa-twitter.white-text
                    a.p-2.m-2.li-ic
                      i.fab.fa-linkedin-in.white-text  
                    a.p-2.m-2.ins-ic
                      i.fas.fa-instagram.white-text  
            // /.Form
          // Grid column
        // Grid row
      // Content
    // Mask & flexbox options
  // Full Page Intro
// Main navigation
// Main Layout
main
  .container
    // Grid row
    .row.py-5
      // Grid column
      .col-md-12.text-center
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      // Grid column
    // Grid row
// Main Layout
