extends ../layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3 forWard Sign up
  form(id='ward-signup-form', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='group', value='Ward Food Logistics')

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='name') Name (or nic-name)
      .col-md-7
        input.form-control(type='text', name='name', id='name', placeholder='Name', autofocus, autocomplete='name', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='contactmethod') Preferred contact method:
      .col-md-7
        .btn-group(data-toggle="buttons")
          label.btn.btn-outline-success
            input(type="radio", value="phone", id="contactmethod", name="contactmethod", autocomplete="off")
            | Phone Call
          label.btn.btn-outline-success
            input(type="radio", value="sms", id="contactmethod", name="contactmethod", autocomplete="off")
            | SMS Text
          label.btn.btn-outline-success
            input(type="radio", value="email", id="contactmethod", name="contactmethod", autocomplete="off")
            | Email
          label.btn.btn-outline-success
            input(type="radio", value="town bulletin board", id="contactmethod", name="contactmethod", autocomplete="off")
            | Town Bulletin Board
          label.btn.btn-outline-success
            input(type="radio", value="yodeling", id="contactmethod", name="contactmethod", autocomplete="off")
            | Yodeling
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='phone') Cell #
      .col-md-7
        input.form-control(type='phone', name='phone', id='phone', placeholder='Phone', autofocus, autocomplete='off', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='email') Email
      .col-md-7
        input.form-control(type='email', name='email', id='email', placeholder='Email', autofocus, autocomplete='email', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='password') Password
      .col-md-7
        input.form-control(type='password', name='password', id='password', placeholder='Password', autocomplete='new-password', minlength='8', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='confirmPassword') Confirm Password
      .col-md-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword', placeholder='Confirm Password', autocomplete='new-password', minlength='8', required)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='pickupneed') 1. Will you have surplus/donations that need to be picked up?
      .col-md-7
        .btn-group(data-toggle="buttons")
          label.btn.btn-outline-secondary
            input(type="radio", autocomplete="off")
            | Regularly scheduled
          label.btn.btn-outline-secondary
            input(type="radio", autocomplete="off")
            | As needed
          label.btn.btn-outline-secondary
            input(type="radio", id="donations", name="donations", autocomplete="off")
            | Both
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='specificitem') Specific item request
      .col-md-7
        input.form-control(type='text', name='specificitem', id='specificitem', placeholder='Whatever you may need', autofocus, autocomplete='specificitem', required)


    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='specificitem') Desired role(s):
      .col-md-7
        .btn-group(data-toggle="buttons")
          label.btn.btn-outline-info
            input(type="checkbox", name="pickupboulder", id="pickupboulder", autocomplete="off")
            | Pickups in Boulder

          label.btn.btn-outline-info
            input(type="checkbox", name="delivery", id="delvery", autocomplete="off")
            | Delivery

          label.btn.btn-outline-info
            input(type="checkbox", name="materials_swap", id="materials_swap", autocomplete="off")
            | Materials swap

          label.btn.btn-outline-info
            input(type="checkbox", name="research", id="research", autocomplete="off")
            | Opportunity Researcher

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='specificitem') Have system notify you when avaiable:
      .col-md-7
        .btn-group(data-toggle="buttons")
          label.btn.btn-outline-warning
            input(type="checkbox", autocomplete="off")
            | Building supplies

          label.btn.btn-outline-warning
            input(type="checkbox", autocomplete="off")
            | Compost

          label.btn.btn-outline-warning
            input(type="checkbox", autocomplete="off")
            | Compost pickup

          label.btn.btn-outline-warning
            input(type="checkbox", selected, autocomplete="off")
            | Household Items

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='specificitem') 
      .col-md-7
        .btn-group(data-toggle="buttons")
          label.btn.btn-outline-danger
            input(type="checkbox", autocomplete="off")
            | Tools

          label.btn.btn-outline-danger
            input(type="checkbox", autocomplete="off")
            | Clothing

          label.btn.btn-outline-danger
            input(type="checkbox", autocomplete="off")
            | Plants

          label.btn.btn-outline-danger
            input(type="checkbox", selected, autocomplete="off")
            | Books

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='specificitem') 
      .col-md-7
        .btn-group(data-toggle="buttons")
          label.btn.btn-outline-success
            input(type="checkbox", autocomplete="off")
            | Cat Food

          label.btn.btn-outline-success
            input(type="checkbox", autocomplete="off")
            | Dog Food

    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold.text-right(for='specificitem') User agreement: 
      .col-md-7
        span Please review our 
        a(href="communityguidelines") Community Guidelines 
        span and 
        a(href="terms") Terms of Service
        br
        .btn-group(data-toggle="buttons")
          label.btn.btn-outline-success
            input(type="checkbox", autocomplete="off")
            | I agree

    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-primary(type='submit')
        i.fas.fa-user-plus.fa-sm
        | Register


    style.

       input[type=radio], input[type=checkbox] {
         margin: 4px 0 0;
         margin-top: 1px \9;
         line-height: normal;
       }
