extends ../layout

block content

  .pb-2.mt-2.mb-4.border-bottom
    .col-md4
              img(src="/tow.jpg",border="0")


    .col-md6
      form(id='door1', method='POST')
        input.form-control(type='text', name='invite', cols="12", id='invite', placeholder='Your invite code', autofocus, autocomplete='invite', required)
        span input(type="submit", value="ok", border="0", id="submit", name="submit", autocomplete="off")

    .form-group.row
        label.col-md-3.col-form-label.font-weight-bold.text-right(for='useragreement') What would you like to do?
        .btn-group(data-toggle="buttons")
          label.btn.btn.btn-outline-primary
            input(type="checkbox", name="pickupboulder", id="pickupboulder", autocomplete="off")
            | Pickups in Boulder

          label.btn.btn.btn-outline-primary
            input(type="checkbox", name="delivery", id="delvery", autocomplete="off")
            | Delivery

          label.btn.btn-outline-primary
            input(type="checkbox", name="materials_swap", id="materials_swap", autocomplete="off")
            | Materials swap

          label.btn.btn-outline-primary
            input(type="checkbox", name="research", id="research", autocomplete="off")
            | Opportunity Researcher
          label.btn.btn.btn-outline-primary
            input(type="checkbox", name="pickupboulder", id="pickupboulder", autocomplete="off")
            | Pickups in Boulder
        .col-md-7.agreemento
          h1
          | Recyprocal good faith agreement b/w Umati Bank, Biomassives, and user
          p
          strong The meanings of defined terms and phrases in this document are at the end in the definitions section.
          br
          p
          strong Provider
          |  means Sustainable Community Development Hub of Colorado, USA contactable via ecocommunitty@protonmail.com P.O. Box 911 Nederland  CO 80466
          br
          p
          strong You
          |  means you or the entity that you are contracting for as authorised representative, contactable on the email registered with Umati Bank

          h4#supply-of-services Supply of services
          p Provider will provide the Services described in this document to Customer in accordance with the Agreement.
          p Customer agrees to the terms of the Agreement by manifesting acceptance of them using the “clickwrap procedure” at http://example.com.
          h4#definitions Definitions
          h4#agreement-agreements Agreement, Agreements
          p means the agreement arising between the parties in accordance with this document and the other documents referred to by this document.
          h4#service-services
          | Service, Services
          p means the services.
          #checkbox-div
          p.small-text Scroll through terms and tick checkbox above to continue
          p
          span#checkSpan
            input#payment(type="checkbox", disabled, name="terms")
            span.redSmall I confirm I have read and agree to the terms
            .button#submit SUBMIT
            #pleaseTick

    .form-group.row

      label.col-md-3.col-form-label.font-weight-bold.text-right(for='specificitem') User agreement: 
      .col-md-7
        span Please review our 
        br
        a(href="communityguidelines") Community Guidelines 
        br
        span and 
        a(href="terms") Terms of Service
        br
        .btn-group(data-toggle="buttons")
          label.btn
            input(type="checkbox", autocomplete="off")
            | I agree

    .form-group.offset-sm-3.col-md-7.pl-2
      button.btn.btn-primary(type='submit')
        i.fas.fa-user-plus.fa-sm
        | Register

        
    style.

       input[type=radio], input[type=checkbox] {
         margin: 4px 0 0;
         margin-top: 1px \9;
         line-height: normal;
       }
