extends ../layout

block content

  .pb-2.mt-2.mb-4.border-bottom
    .form-group.row
      .col-md4
              img(src="/tow.jpg",border="0")


      .col-md4
        br
        form(id='door1', action="/wardwelcome", method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          input.form-control(type='text', name='invite', size="12", id='invite', placeholder='Your invite code', autofocus, autocomplete='invite', required) 
          br
          input.form-control(type='email', name='email', size="12", id='email', placeholder='email or nicname', autofocus, autocomplete='email', required) 

          br
          input.form-control(type='password', name='password', size="12", id='password', placeholder='password', autofocus, autocomplete='password', required) 
          br
          input.form-control(type='password', name='confirmPassword', size="12", id='confirmPassword', placeholder='confirm password', autofocus, autocomplete='confirmPassword', required) 
          br

          br
          .btn-group(data-toggle="paneldriver")
            label.btn
            input(type="checkbox",id="paneldriver", name="paneldriver", value="on")
            | Driver
          .btn-group(data-toggle="panelsurplus", value="true")
            label.btn
            input(type="checkbox", name="panelsurplus", value= "true")
            | Surplus
          .btn-group(data-toggle="panelrequests", value="true")
            label.btn
            input(type="checkbox", name="panelrequests", value="true")
            | Requests
          .btn-group(data-toggle="panelwarehouse",value="true")
            label.btn
            input(type="checkbox", name="panelwarehouse",value="true")
            | Warehousing
          .btn-group(data-toggle="panelresearch",value="true")
            label.btn
            input(type="checkbox", name="panelresearch",value="true")
            | Research

          .form-group.align-right.sm-6.col-md-7.pl-2
            br
            label.btn
            button.submit.btn.btn-success(type='submit')
              i.fas.fa-user-plus.fa-sm
              | Activate
            br 
            br 
            a(href="/account/requestcode") request access
            br 
            a(href="/account/createsubgroup") Start a new group

      style.
         input[type=radio], input[type=checkbox] {
           margin: 4px 0 0;
           margin-top: 1px \9;
           line-height: normal;
         }
