extends ../layout

block content

  .pb-2.mt-2.mb-4.border-bottom
    .form-group.row
      .col-md4
              img(src="/tow.jpg",border="0")


      .col-md4
        br
        form(id='door1', action="/wardwelcome", method='POST')
          input.form-control(type='text', name='nic-name', size="12", id='nicname', placeholder='nicname', autofocus, autocomplete='nicname') 
          br
          input.form-control(type='text', name='invite', size="12", id='invite', placeholder='Your invite code', autofocus, autocomplete='invite', required) 
          span ~ 
          a(href="/account/requestcode") request access
          span ~ 
          a(href="/account/createsubgroup") Start a subgroup

    .form-group.row

      label.col-md-3.col-form-label.font-weight-bold.text-right(for='specificview') Securely track 
        |
        i forWard 
        span data for:
      .col-md-7
        .btn-group(data-toggle="buttons")
          label.btn
            input(type="checkbox", name="paneldriver", autocomplete="on")
            | Driver
        .btn-group(data-toggle="buttons")
          label.btn
            input(type="checkbox", name="panelsurplus", autocomplete="off")
            | Surplus
        .btn-group(data-toggle="buttons")
          label.btn
            input(type="checkbox", name="panelrequests", autocomplete="undecided")
            | Requests
        .btn-group(data-toggle="buttons")
          label.btn
            input(type="checkbox", name="panelwarehouse", autocomplete="no")
            | Warehousing
        .btn-group(data-toggle="buttons")
          label.btn
            input(type="checkbox", name="panelresearch" autocomplete="no")
            | Research

    .form-group.offset-sm-3.col-md-7.pl-2
      button.submit.btn.btn-warning(type='submit')
        i.fas.fa-user-plus.fa-sm
        | go

        
    style.

       input[type=radio], input[type=checkbox] {
         margin: 4px 0 0;
         margin-top: 1px \9;
         line-height: normal;
       }
