footer
  .container.text-center
    p.float-left © 2020 UmatiBank
    a(href='https://scdhub.org') SCD Hub
    ul.float-right.list-inline
      li.list-inline-item
        a(href='/terms') Terms of Service
      li.list-inline-item
        a(href='/privacy') Privacy Policy
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter') Code
      li.list-inline-item
        a(href='/status') Status
      li.list-inline-item
        a(href='/api') APIs
      li.list-inline-item
        a(href='/games/pong') Pong
      li.list-inline-item
        a(href='/games/si') SI
