footer
  .container.text-center
    p.float-left © 2020 UmatiBank & SCD Hub, All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter') Source
      li.list-inline-item
        a(href='/status') Status
      li.list-inline-item
        a(href='/api') APIs
      li.list-inline-item
        a(href='/games/pong') Pong
      li.list-inline-item
        a(href='/games/si') SI

#cookie_directive_container
  ul
    li#cookie_note
      | To provide the best user experience, this website stores 
      a(href='http://www.allaboutcookies.org/cookies/' target='_blank') cookies
      |  on your browser.
    li#cookie_accept
      a.btn.btn-default.pull-right(href='#') Close
      a(href='javascript:void(0);') &nbsp;I understand and accept&nbsp;
    li#cookies_used
      a(href='/?page_id=476')  Review cookies used on this website.