footer
  .container.text-center
    p.float-left © 2020 UmatiBank & SCD Hub, All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/sahat/hackathon-starter') Source
      li.list-inline-item
        a(href='/status') Status
      li.list-inline-item
        a(href='/api') APIs
