.navbar.navbar-light.fixed-top.navbar-expand-lg.bg-light
  .container
    img(src="/lion.png",border="0")
    a.navbar-brand(href='/')
      | &nbsp;UMATI PORTAL
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='.navbar-collapse')
      span.sr-only Toggle navigation
      span.navbar-toggler-icon
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        if user
          li.nav-item(class=(title === 'Messages') ? 'active' : undefined)
            a.nav-link(href='/account/messages') Messages
        if (user && user.group == "For Ward")  
          li.nav-item.dropdown 
            a.nav-link.dropdown-toggle#navbarDropdown(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") Food security
          li.nav-item.dropdown 
            a.nav-link.dropdown-toggle#navbarDropdown(href="#", role="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false") #{user.group}
            .dropdown-menu(aria-labelledby="navbarDropdown")
                a.dropdown-item(href="/account/createdonation") List a Donation
                .dropdown-divider
                a.dropdown-item(href="/account/requests") Requests
                a.dropdown-item(href="/account/driver") Drivers
                a.dropdown-item(href="/account/inventory") Inventory
                a.dropdown-item(href="#") 
                .dropdown-divider
                a.dropdown-item(href="#") Request
                a.dropdown-item(href="#") Offer
      ul.nav.navbar-nav.ml-auto
        if !user
          li.nav-item(class=(title === 'Contact') ? 'active' : undefined)
            a.nav-link(href='/contact') Contact
          li.nav-item(class=(title === 'Login') ? 'active' : undefined)
            a.nav-link(href='/login') Login
          li.nav-item(class=(title === 'Create Account') ? 'active' : undefined)
            a.nav-link(href='/signup') Create Account
        else

          if (title === 'Settings')
            li.button.btn.btn-outline-secondary(type="button", data-toggle="modal", data-target="#resinvModal") resource inventory
            li.button.btn.btn-outline-success(type="button", data-toggle="modal", data-target="#scdModal") scd clinic
            li.button.btn.btn-outline-warning(type="button", data-toggle="modal", data-target="#foodsecModal") foodshed
            li.button.btn.btn-outline-danger(type="button", data-toggle="modal", data-target="#creativeModal") creative
            li.button.btn(type="button", data-toggle="modal", data-target="#basicExampleModal") other 


          li.dropdown(class=(title === 'Settings') ? 'active' : undefined).nav-item
            a.dropdown-toggle.nav-link(href='#', data-toggle='dropdown')
              if user.profile.picture
                img(src=user.profile.picture)
              else
                img(src="https://avatars.dicebear.com/api/human/" + user.profile.name +".svg")
              span= user.profile.name || user.email || user.id
              i.caret
            .dropdown-menu.multi-column
              .row
                .col-md-3
                  ul.dropdown-menu
                    li    
                      a(href="/logout")
                          img(src="/umati_creativefire_3birds.png", border="0", height="110", alt="Log out")

                .col-md-3
                  ul.dropdown-menu                  
                    li
                      a(href='/account/payment') Receipts
                    li
                      a(href='/account/inventory') Inventory
                    li
                      a(href='/account/pos') POS

                .col-md-3
                  ul.dropdown-menu                  
                    li
                      a(href='/account/cal') Calendar
                    li
                      a(href='/account/elevator') Sharing
                    li
                      a(href='/account/group') Group
                      
                .col-md-3
                  ul.dropdown-menu
                    li
                      a(href='/account/') Settings
                    li
                      a(href='/account/business') Business
                    li
                      a(href='/account/blog') Blog
                    li
                      a(href='/logout') >> Logout

