a(href='/account/business') Business - 
a(href='/account/blog') Blog - 
if (user.group == "Ward Food Logistics" || user.group == "For Ward" || user.group == "forWard" || user.group == "for ward" || user.group == "for Ward" || user.group == "ForWard") 
   a(href='/account/elevator') ForWard - 
else
   a(href='/account/elevator') Podcast - 
a(href='/account/cal') Calendar - 
a(href='/account/group') Groups - 
a(href='/account/activity') Savings -  
a(href='/account/inventory') Inventory - 
a(href='/account/pos') POS
hr
