a(href='/account/project') Your Project - 
a(href='/account/blog') Blog - 
a(href='/account/group') Groups - 
a(href='/account/activity') Savings -  
a(href='/account/inventory') Inventory - 
a(href='/account/pos') POS
hr
