a(href='/account/business') Business - 
a(href='/account/blog') Blog - 
a(href='/account/elevator') Podcast - 
a(href='/account/cal') Calendar - 
a(href='/account/group') Groups - 
a(href='/account/activity') Savings -  
a(href='/account/inventory') Inventory - 
a(href='/account/pos') POS

hr
