if (user.group == "Ward Food Logistics" || user.group == "For Ward" || user.group == "forWard" || user.group == "for ward" || user.group == "for Ward" || user.group == "ForWard") 
   a(href='/account/driver') Drivers - 
   a(href='/account/surplus_provider') Surplus - 
   a(href='/account/requests') Requests - 
   a(href='/account/warehouse') Storage - 
   a(href='/account/ops') Ops/Planning 
else
   a(href='/account/elevator') Podcast - 
