a(href='/account/business') Business - 
a(href='/account/blog') Blog - 
if (user.usecase == "health") 
   a(href='/account/health' Health
   p Please note that use case headers are being set up with project basic services in mind. 
else
   a(href='/account/elevator') Podcast - 
a(href='/account/cal') Calendar - 
a(href='/account/group') Groups - 
hr
