extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    h2 Contact SCD Hub

    script(type='text/javascript', src='https://form.jotform.com/jsform/202616652536152')


    span you can contact Ǥœg Willson

      p.span  303 720 6790
      p.span  ecocommunity@protonmail.com
      p.span  or via 
          ul.head US Post to 
             li Umati Bank c/o Sustainable Community Development Hub 
             li P.O. Box 911 
             li Nederland, CO 80466
