extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom

    p Thank you for inquiring about Umati Bank and SCD Hub

    span you can contact Ǥœg Willson

      p.span  303 720 6790
      p.span  or via 
          ul.head US Post to 
             li Umati Bank c/o Sustainable Community Development Hub 
             li P.O. Box 911 
             li Nederland, CO 80466
