extends layout

block content
  h1 Feature testing release.
  p Sept 4 2020.  Currently testing pluggable architecture, group signup method, local and remote content management. Welcome friends- Art at Heart, Mamawatoto Eco School, 
    a(href='https://portal.etiny.xyz/wardsignup') forWard
  span Umaticore bugs and feature requests are tracked 
    a(href='https://github.com/uberslackin/umatiCore') here.
 
  h2 Supporting in-person groups pursuing sustainable social enterprises
  hr

  .home-hero
    .feature
      h3 Software to assist
      h3 self help groups
      p community centered. Social enterprises, brand and trade skilldevelopment, trade skill development
    .special
      h3 Community equity
      p Emphasis of ecological awareness: materials supply chain, waste and pollutant accountability, design charette concept, consensus building, food security
    .amazing
      h3 Group communication
      p Consensus building helps communities regenerate. What do we value?
    .news
      h3 Work together
    .cta
      p Get started today! Our server is secure, and we protect your data. 
      if (!user) 
        a.button.btn.btn-success.spam-button(href='/signup') Start a private group Now!
      else
        a.button.btn.btn-success.spam-button(href='/account/groupsettings') Start a new group
  .row
    .col-md-6 
      hr  
  .row
    .col-md-6
      h2 Appropriate Technolgy
      p Umati Bank is a resource for self help groups. We provide a reminder service and database to help support the success of small groups that meet regularly and help one another with small business via small loans, promotion, and business management tools.
      p
        a.btn.btn-raised(href='#', role='button') Participating groups »
    .col-md-6
      h2 Social benefit projects
      p At the heart of Umati is our desire to see local businesses thrive. Members of self help groups are encouraged to meet on a regular weekly or biweekly basis, to help members to keep their business and financial goals on track.  Umati service is being designed to provide a review portal for self help group members wishing to access small zero interest loans offered from their own groups as well as the international community. 
      p
        a.btn.btn-raised(href='#', role='button') Sponsoring a project »
    .col-md-6
      h2 Self help groups
      p The Umati self help group system supports accounting for group savings and contributions.  We do not hold money for groups, rather, we allow group leaders to report the weekly contributions, notify their members of their savings progress, and provide methods of tracking individual member savings, loan disbursements, and loan repayments. As a member of an Umati self help group, you are able to maintain your own blog here, request support for your small business from the internet community visiting umatibank.com loan request portal, and learn more about opportunites that help grow your business. 
    .col-md-6
      h2 Group Resource management
      p With the goal of better online collaboration within self help groups, umatibank has been developing a podcast feature in its software release. The idea is that web resources that we love can be scheduled by group members. 
      p
        button.btn.btn-primary(type="button", data-toggle="modal", data-target="#basicExampleModal") Get started

      .row
        .col-md-12
      hr
  
      .modal.fade#basicExampleModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header(style="background-color:ltgrey")
              img(src="/lion.png",border="0") 
              h5.modal-title#exampleModalLabel &nbsp; Umati Group podcast channel 
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") ×
            .modal-body

              if !user
                 a.nav-link(href='/login') Login
                 a.nav-link(href='/signup') Create Account
                 p Please log in and check your group section.
              else
                 p Hi #{user.profile.name}
                 span Join us 
                 a(href='https://portal.etiny.xyz/account/elevator') here

          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button") ok
