extends layout

block content
  h1 Use case release : v. 1.0.12
  p Sept 25 2020.  We are now live testing a few of Umati's new features. The signup page has been updated.  The blog editor system is being configured to manage web content for static web sites and to specifically support group management of scdhub.org educational video library.  Specific use cases are resource inventory, food security, creative, SCD hands on learning clinics and 'other'. A few ther things are being updated and tested here. Please 
    a(href='/contact') let us know your thoughts 
    span or email the editor at ecocommunity@protonmail.com 
    span Please use these links for 
    a(href='https://github.com/uberslackin/umatiCore') bug reports 
    span &  
    a(href='https://github.com/SustainableCommunityDevelopmentHub/umati_hs') source code
    span .
 
  .home-hero
    .feature
      h3 Software to assist
      h3 self help groups
      p community centered. Social enterprises, brand and trade skilldevelopment, trade skill development
    .special
      h3 Community equity
      p Emphasis of ecological awareness: materials supply chain, waste and pollutant accountability, design charette concept, consensus building, food security
    .amazing
      h3 Group communication
      p Consensus building helps communities regenerate. What do we value?
    .news
      h3 Work together
    .cta
      p Get started today! Our server is secure, and we protect your data. 
      if (!user) 
        a.button.btn.btn-success.spam-button(href='/signup') Get started
      else
        a.button.btn.btn-success.spam-button(href='/account/groupsettings') Start a new group
  .row
    .col-md-6 
      hr  

  h1 Rallying for sustainable social enterprise.
  p.i because it is poised to help so many.

  .row
    .col-md-6 
      h2 Context in community projects
      p.b in community projects
      span Every project has its own unique context.  Success depends upon carefully considering such things well in advance.  Umati's group and project emphasis draws from the African movement of 'self help groups' where members check in on a weekly basis, support one another by contributing small weekly sums to the group which form the basis for shor
    .col-md-6
      h2 Self help groups & social ventures
      p At the heart of Umati is our desire to see local businesses thrive. Members of self help groups are encouraged to meet on a regular weekly or biweekly basis, to help members to keep their business and financial goals on track.  Umati service is being designed to provide a review portal for self help group members wishing to access small zero interest loans offered from their own groups as well as the international community. 
    .col-md-6
      h2 Appropriate technolgy
      p The Umati self help group system supports accounting for group savings and contributions.  We do not hold money for groups, rather, we allow group leaders to report the weekly contributions, notify their members of their savings progress, and provide methods of tracking individual member savings, loan disbursements, and loan repayments. 
      p
        button.btn.btn-primary(type="button", data-toggle="modal", data-target="#basicExampleModal") Get started
    .col-md-6
      h2 Water systems
      p One goal of Umati's online collaboration is to benefit self help groups.  As a member of an Umati self help group, you are able to maintain your own blog here, request support for your small business from the internet community visiting umatibank.com loan request portal, and learn more about opportunites that help grow your business. 

      .row
        .col-md-12
      hr
  
      .modal.fade#basicExampleModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header(style="background-color:ltgrey")
              img(src="/lion.png",border="0") 
              h5.modal-title#exampleModalLabel &nbsp; Umati Group podcast channel 
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") ×
            .modal-body

              if !user
                 a.nav-link(href='/login') Login
                 a.nav-link(href='/signup') Create Account
                 p Please log in and check your group section.
              else
                 p Hi #{user.profile.name}
                 span Join us 
                 a(href='https://portal.etiny.xyz/account/elevator') here

          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button") ok
