extends layout

block content
  h1 Welcome
  p Oct 2 2020.  Umati Portal is testing a new blog content manager feature.   Use cases centered around resarching approaches to common problems at the community level.  Our current efforts target improving resource inventory, food security, research and creative project support via 
    a(href='https://scdhub.org/clinic/curate/') SCD clinics.  
    span Please 
    a(href='/contact') let us know your thoughts 
    span or email the editor at ecocommunity@protonmail.com 
    span Please use these links for 
    a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal') bug reports 
    span &  
    a(href='https://github.com/SustainableCommunityDevelopmentHub/umatiportal') source code
    span .
 
  .home-hero
    .feature
      h3 Building context into educational resouces
      p Umati portal specializes in supporing group centered activities.  Techniacal and research clinics can start as 'clinics of one', with room  for inclusion. Successful social enterprises provide oppotunities for skills development and peace making.

    .special
      h3  Resources
      p The human-ecological relationship is governed by how we use water. Water connects us to the land, food, and energy.
    .amazing
      h3 Integrations
      p SCD Hub aims to curate its video library better from this platform.
    .news
      h3 Collaboration
    .cta
      p Umati is careful with your data. 
      if (!user) 
        a.button.btn.btn-success.spam-button(href='/signup') Get started
      else
        a.button.btn.btn-success.spam-button(href='/account/groupsettings') Start a new group
  .row
    .col-md-6 
      hr  

  h1 Rallying for sustainable social enterprise.
  p.i because it is poised to help so many.

  .row
    .col-md-6 
      h2 Context in community projects
      p.b in community projects
      span Every project has its own unique context.  Success depends upon carefully considering such things well in advance.  Umati's group and project emphasis draws from the African movement of 'self help groups' where members check in on a weekly basis, support one another by contributing small weekly sums to the group which form the basis for shor
    .col-md-6
      h2 Researching options
      p At the heart of Umati is our desire to see local businesses thrive. Members of self help groups are encouraged to meet on a regular weekly or biweekly basis, to help members to keep their business and financial goals on track.  Umati service is being designed to provide a review portal for self help group members wishing to access small zero interest loans offered from their own groups as well as the international community. 
    .col-md-6
      h2 Appropriate technology
      p The Umati self help group system supports accounting for group savings and contributions.  We do not hold money for groups, rather, we allow group leaders to report the weekly contributions, notify their members of their savings progress, and provide methods of tracking individual member savings, loan disbursements, and loan repayments. 
      p
        button.btn.btn-primary(type="button", data-toggle="modal", data-target="#basicExampleModal") Get started
    .col-md-6
      h2 Water systems
      p One goal of Umati's online collaboration is to benefit self help groups.  As a member of an Umati self help group, you are able to maintain your own blog here, request support for your small business from the internet community visiting umatibank.com loan request portal, and learn more about opportunites that help grow your business. 

      .row
        .col-md-12
      hr


      h2 Photo Credit

      p Photo by Alawai at Morguefile.com 
  
      .modal.fade#basicExampleModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
        .modal-dialog(role="document")
          .modal-content
            .modal-header(style="background-color:ltgrey")
              img(src="/lion.png",border="0") 
              h5.modal-title#exampleModalLabel &nbsp; Umati Group podcast channel 
              button.close(type="button", data-dismiss="modal", aria-label="Close")
                span(aria-hidden="true") ×
            .modal-body

              if !user
                 a.nav-link(href='/login') Login
                 a.nav-link(href='/signup') Create Account
                 p Please log in and check your group section.
              else
                 p Hi #{user.profile.name}
                 span Join us 
                 a(href='https://portal.etiny.xyz/account/elevator') here

          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button") ok
