extends layout

block content
  h1 Software testing release.
  p Welcome. current repairs underway blog manager, blog templates, use off umaticore by ... Data s being be preserved, yet, please back up your writing just in case, as we are just in a testing phase right now. -g May 19 2020
  h2 Umati Bank supports in-person groups pursuing sustainable social enterprise business models
  hr

  .home-hero
    .feature
      h3 Software to assist
      h3 self help groups
      p community centered. Social enterprises, brand and trade skilldevelopment, trade skill development
    .special
      h3 Community equity
      p Emphasis of ecological awareness: materials supply chain, waste and pollutant accountability, design charette concept, consensus building, food security
    .amazing
      h3 Group communication
      p Consensus building helps communities regenerate. What do we value?
    .news
      h3 Work together
    .cta
      p Get started today! Our server is secure, and we protect your data. 
      a.button.btn.btn-success.spam-button(href='/signup') Create a free account now!
  .row
    .col-md-6 
      hr  


  .row
    .col-md-6
      h2 Self Help Groups
      p Umati Bank is a resource for self help groups. We provide a reminder service and database to help support the success of small groups that meet regularly and help one another with small business via small loans, promotion, and business management tools.
      p
        a.btn.btn-raised(href='#', role='button') Participating groups »
    .col-md-6
      h2 Share your heart
      p At the heart of Umati is our desire to see local businesses thrive. Members of self help groups are encouraged to meet on a regular weekly or biweekly basis, to help members to keep their business and financial goals on track.  Umati service is being designed to provide a review portal for self help group members wishing to access small zero interest loans offered from their own groups as well as the international community. 
      p
        a.btn.btn-raised(href='#', role='button') Sponsor a loan »
    .col-md-6
      h2 Tax preparation
      p Test system: manage your US income tax filing for 2020
      p
        button.btn.btn-primary(type="button", data-toggle="modal", data-target="#basicExampleModal") Get started
    .col-md-6
      h2 Self help groups
      p Umati Bank provides an accounting system for group leaders to use in tracking contributions to their group account. We do not hold money for groups, rather, we allow group leaders to report the weekly contributions, notify their members of their savings progress, and provide methods of tracking individual member savings, loan disbursements, and loan repayments. As a member of an Umati self help group, you are able to maintain your own blog here, request support for your small business from the internet community visiting umatibank.com loan request portal, and learn more about opportunites that help grow your business. 
      p
        a.btn.btn-raised(href='#', role='button') View details »

  .row
    .col-md-12
    hr
  
    .modal.fade#basicExampleModal(tabindex="-1", role="dialog", aria-labelledby="exampleModalLabel", aria-hidden="true")
      .modal-dialog(role="document")
        .modal-content
          .modal-header
            h5.modal-title#exampleModalLabel 2020 Tax preparation group
            button.close(type="button", data-dismiss="modal", aria-label="Close")
              span(aria-hidden="true") ×
          .modal-body

            if !user
               a.nav-link(href='/login') Login
               a.nav-link(href='/signup') Create Account
               p Please log in and check your group section.
            else
               p Please follow this link for data
               a(href='https://portal.etiny.xyz/account/activity-print') Spreadsheet
               if user.profile.picture
                 img(src=user.profile.picture) 
                 p Spreadsheet data
               else
                 img(src=user.gravatar(60))
                 button.btn.btn-primary(type="button") ok profile

          .modal-footer
            button.btn.btn-secondary(type="button", data-dismiss="modal") Close
            button.btn.btn-primary(type="button") ok
