doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title Umatibank Self help group network - #{title} page
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    if (title === 'Pong') 
        link(rel='stylesheet', href='/css/pong.css')
    if (title === 'Personal Calendar')
        link(rel='stylesheet', href='/css/fullcalendarcore4.3.1.main.min.css')
        link(rel='stylesheet', href='/css/fullcalendar.daygrid.4.3.0.main.min.css')
        link(rel='stylesheet', href='/css/fullcalendar.timegrid.4.3.0.main.min.css')
    link(rel='stylesheet', href='/css/bootstrap-table.min.css')
    link(rel='stylesheet', href='/css/cookie_note.css')
    block head

  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    script(src='/js/lib/popper.min.js')
    script(src='/js/lib/jquery.min.js')
    if (title === 'Account Ledger')
         script(src='/js/lib/bootstrap-table.min.js')
    script(src='/js/lib/bootstrap.min.js')
    script(src='/js/main.js')
    if (title === 'Personal Calendar') 
         script(src='/js/fullcalendar/core.js')
         script(src='/js/fullcalendar/daygrid.js')
         script(src='/js/fullcalendar/timegrid.js')
         script(src='/js/cal.js')
    if (title === 'Pong') 
         script(src='/js/pong.js')
    script(src='/js/cookie_note.js')