doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title Umatibank Self help group network - #{title} page
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    if (title === 'Pong') 
        link(rel='stylesheet', href='/css/pong.css')
    if (title === 'Cal4') 
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
        link(rel='stylesheet', href='/css/cal4.css')
    if (title === 'Personalized Podcast')
        link(rel='stylesheet', href='/css/fullcalendarcore4.3.1.main.min.css')
        link(rel='stylesheet', href='/css/fullcalendar.daygrid.4.3.0.main.min.css')
        link(rel='stylesheet', href='/css/fullcalendar.timegrid.4.3.0.main.min.css')
        link(rel='stylesheet', href='/css/fullcalendardemos.css')
    if (title === 'Personal Calendar')
        link(rel='stylesheet', href='/css/fullcalendarcore4.3.1.main.min.css')
        link(rel='stylesheet', href='/css/fullcalendar.daygrid.4.3.0.main.min.css')
        link(rel='stylesheet', href='/css/fullcalendar.timegrid.4.3.0.main.min.css')
    if (title === 'Test Calendar')
        link(rel="stylesheet", type="text/css", href="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.css")
        link(rel="stylesheet", type="text/css", href="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.css")
        link(rel="stylesheet", type="text/css", href="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.css")
    if (title === 'Dataview1')
        link(rel="stylesheet", type="text/css", href="https://bossanova.uk/jexcel/v4/jexcel.css")
        link(rel="stylesheet", type="text/css", href="https://bossanova.uk/jexcel/v4/jsuites.css")
    link(rel='stylesheet', href='/css/bootstrap-table.min.css')
    link(rel='stylesheet', href='/css/bootstrap4-fs-modal.min.css')
    block head

  body
    include partials/header

    .container
      include partials/flash
      block content

    include partials/footer

    if (title !== 'Podcast Manager')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/cjs/popper.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.9/jquery.jcarousel.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js')
    script(src='/js/ihavecookies.options.js')
    script(src='/js/jquery.ihavecookies.min.js')
    if (title === 'Account Ledger')
         script(src='/js/lib/bootstrap-table.min.js')
    //script(src='/js/lib/bootstrap.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js')
    if (title === 'Personalized Podcast') 
         script(src='/js/fullcalendar/core.js')
         script(src='/js/fullcalendar/daygrid.js')
         script(src='/js/fullcalendar/timegrid.js')
         script(src='/js/cal.js')
         script(src='/js/caldemo.js')
    if (title === 'Personal Calendar') 
         script(src='/js/fullcalendar/core.js')
         script(src='/js/fullcalendar/daygrid.js')
         script(src='/js/fullcalendar/timegrid.js')
         script(src='/js/cal.js')
    if (title === 'Dataview1') 
       script(src="https://bossanova.uk/jexcel/v4/jexcel.js")
       script.
  
         var options = {
            minDimensions:[10,10],
            tableOverflow:true,
         }
         $('#spreadsheet').jexcel(options);)
  
    if (title === 'Test Calendar') 
        script(src="https://uicdn.toast.com/tui.code-snippet/latest/tui-code-snippet.js")
        script(src="https://uicdn.toast.com/tui.dom/v3.0.0/tui-dom.js")
        script(src="https://uicdn.toast.com/tui.time-picker/latest/tui-time-picker.min.js")
        script(src="https://uicdn.toast.com/tui.date-picker/latest/tui-date-picker.min.js")
        script(src="https://uicdn.toast.com/tui-calendar/latest/tui-calendar.js")
    if (title === 'Pong') 
         script(src='/js/pong.js')
    script(src='/js/main.js')
