extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom

  include partials/profilehead.pug

  span POINT OF SALE -
  a(href='/account/possettings') Settings -
  a(href='/account/posentrycreate') Add an item

  hr


  .container

  #myCarousel.carousel.slide(data-ride='carousel')
  ol.carousel-indicators
    li.active(data-target='#myCarousel' data-slide-to='0')
    li(data-target='#myCarousel' data-slide-to='1')
    li(data-target='#myCarousel' data-slide-to='2')
  .carousel-inner
    .item.active
      img(src='https://unsplash.it/1400/600?image=354' alt='Ginko Biloba')
      .carousel-caption
        h3 Los Angeles
        p LA is always so much fun
    .item
      img(src='https://unsplash.it/1400/600?image=401' alt='Bridges')
      .carousel-caption
        h3 Chicago
        p Thank you, Chicago
    .item
      img(src='https://unsplash.it/1400/600?image=745' alt='New York')
      .carousel-caption
        h3 New York
        p We love the Big Apple
    a.left.carousel-control(href='#myCarousel' data-slide='prev')
      span.glyphicon.glyphicon-chevron-left
      span.sr-only Previous
    a.right.carousel-control(href='#myCarousel' data-slide='next')
      span.glyphicon.glyphicon-chevron-right
      span.sr-only Next


