doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='theme-color' content='#4DA5F4')
    meta(name='csrf-token', content=_csrf)
    title Umatibank Self help group network - #{title} page
    link(rel='shortcut icon', href='/favicon.png')
    link(rel='stylesheet', href='/css/main.css')
    link(rel='stylesheet', href='/css/bootstrap-table.min.css')
    link(rel='stylesheet', href='/css/bootstrap4-fs-modal.min.css')
    block head

  body
    include partials/publicheader

    .container
      include partials/flash
      block content

    include partials/footer

    if (title !== 'Podcast Manager')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.4.0/cjs/popper.min.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='/js/lib/jquery.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jcarousel/0.3.9/jquery.jcarousel.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js')
        //script(src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.6.2/bootstrap-slider.js')
    script(src='/js/ihavecookies.options.js')
    script(src='/js/jquery.ihavecookies.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js')
    script(src='/js/main.js')
