* {
	box-sizing: border-box;
}
body {
	font-family: "Comfortaa", sans-serif;
}

.explanation {
	background: var(--color);
	grid-column: span 6;
	padding: 28px;
	color: #fff;
	line-height: 1.7;
	a {
		text-decoration: none;
		color: #fff;
		padding: 3px 0;
		border-bottom: 1px dashed;
		&:hover {
			border-bottom: 1px solid;
		}
	}
}

.date {
	background: var(--color);
	padding: 15px;
	position: relative;
	font-size: 20px;
}

.month {
	background: var(--color);
	font: 900 75px "Montserrat", sans-serif;
	text-transform: uppercase;
	padding: 40px 30px;
	text-align: center;
	color: rgba(255, 255, 255, 0.6);
	text-shadow: 0 0px 4px rgba(0, 0, 0, 0.1);
	&--feb {
		grid-column: span 3;
	}
	&--mar {
		grid-column: span 4;
	}
	&--apr {
		grid-column: span 2;
	}
	&--may {
		grid-column: span 3;
	}
	&--jun {
		grid-column: span 3;
	}
	&--title {
		grid-column: span 6;
		text-align: right;
		padding-right: 60px;
	}
}

.main-content {
	display: grid;
	grid-auto-flow: row;
	grid-template-rows: repeat(10, 170px) 80px;
	grid-template-columns: repeat(7, minmax(170px, 1fr));
}

.event {
	z-index: 10;
	background: transparent;
	padding-top: 40px;
	&__name {
		background: rgba(255, 255, 255, 0.4);
		border-radius: 20px;
		height: auto;
		padding: 10px;
		margin: 10px;
		font-size: 14px;
	}
	&--1 {
		grid-column: 3 / span 2;
		grid-row: 3;
	}
	&--2 {
		grid-column: 4 / span 3;
		grid-row: 3;
		padding-top: 85px;
	}
	&--3 {
		grid-column: 2;
		grid-row: 6;
	}
	&--4a {
		grid-column: 7;
		grid-row: 7;
		.event__name {
			border-radius: 20px 0 0 20px;
		}
	}
	&--4b {
		grid-column: 1 / span 2;
		grid-row: 8;
		.event__name {
			border-radius: 0 20px 20px 0;
		}
	}
	&--5 {
		grid-column: 5;
		grid-row: 9;
	}
}

//events

div.date {
	&:nth-child(15) {
		grid-column: 3;
		grid-row: 3;
	}
	&:nth-child(16) {
		grid-column: 4;
		grid-row: 3;
	}
	&:nth-child(17) {
		grid-column: 5;
		grid-row: 3;
	}
	&:nth-child(18) {
		grid-column: 6;
		grid-row: 3;
	}
	&:nth-child(34) {
		grid-column: 2;
		grid-row: 6;
	}
	&:nth-child(46) {
		grid-column: 7;
		grid-row: 7;
	}
	&:nth-child(47) {
		grid-column: 1;
		grid-row: 8;
	}
	&:nth-child(48) {
		grid-column: 2;
		grid-row: 8;
	}
	&:nth-child(58) {
		grid-column: 5;
		grid-row: 9;
	}
}

//feb & march days
.date {
	&:after {
		position: absolute;
		z-index: 20;
		top: 15px;
		right: 15px;
		font-size: 10px;
		text-transform: uppercase;
		text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	}
}

.date {
	&:nth-child(-7n + 30):after {
		content: "Fri";
	}
	&:nth-child(-7n + 24):after {
		content: "Sat";
	}
	&:nth-child(-7n + 25):after {
		content: "Sun";
	}
	&:nth-child(-7n + 26):after {
		content: "Mon";
	}
	&:nth-child(-7n + 27):after {
		content: "Tue";
	}
	&:nth-child(-7n + 28):after {
		content: "Wed";
	}
	&:nth-child(-7n + 29):after {
		content: "Thu";
	}
}

.date {
	&:nth-child(7n + 31):after {
		content: "Fri";
	}
	&:nth-child(7n + 32):after {
		content: "Sat";
	}
	&:nth-child(7n + 33):after {
		content: "Sun";
	}
	&:nth-child(7n + 34):after {
		content: "Mon";
	}
	&:nth-child(7n + 35):after {
		content: "Tue";
	}
	&:nth-child(7n + 36):after {
		content: "Wed";
	}
	&:nth-child(7n + 37):after {
		content: "Thu";
	}
}