/* Cookie CSS */

#cookie_directive_container {
  display: none;
}

#cookie_directive_container {
  background-color: #0B2161;
  color: #FFFFFF;
  height: 140px;
  padding: 10px 0;
  position: relative;
  bottom: -10px;
  text-align: center;
  width: 100%;
  z-index: 200;
  top: 0;
}

#cookie_note a, #cookies_used a{
  color: #ffffff;
  font-style: italic;
}

#cookie_directive_container ul li {
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  font-size:12px;
}

#cookie_accept {
  border-right: 1px solid;
  border-left: 1px solid;
}


#cookie_accept a {
  background-color: #FC0;
  color: #000000;
  padding: 2px;
  text-decoration: none;
  border-radius:2px;  
}