@import "themes/default/variables";

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/@ladjs/bootstrap-social/bootstrap-social.scss";
@import "node_modules/@fortawesome/fontawesome-free/scss/fontawesome";
@import "node_modules/@fortawesome/fontawesome-free/scss/brands";
@import "node_modules/@fortawesome/fontawesome-free/scss/regular";
@import "node_modules/@fortawesome/fontawesome-free/scss/solid";

@import "themes/default/default";

// Scaffolding
// -------------------------

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 80px;
  margin-bottom: 75px;
  font-size: 14px;
}


h3 {
  margin: 0;
}

h3+p {
  margin-top: 0;
}

## bootstrap forms

.switch {
    background: #f2f2f2;
    border-radius: 6px;
    overflow: hidden;
    position: relative;

    .slider {
        height: 40px;
        width: 50%;
        background: #00D191;
        position: absolute;
        top:-5px;
        left: 0;      
        transition: all 0.3s cubic-bezier(0, 1.13, 0.58, 1);
    }

    .btn {
        padding: .3rem .75rem;
        transition-duration: 0.2s;
        transition-property: all;

        &.active {           
            color: #fff;
        }
    }

    .btn.focus,
    .btn:focus {
        outline: 0;
        box-shadow: none;
    }
}

.left-switch.active ~ .slider {
    left: 0;
}
.right-switch.active ~ .slider {
    transform: translateX(100%);
    background:grey;
}

.wrap {
  ## Suggested: Sugarhill Records Greatest Hits 0:00 / 6:15
  ## #RappersDelight #SugarhillGang #40thAnniversary
  ## The Sugarhill Gang - Rapper's Delight (Official Video)
  ## https://archive.org/details/cd_rappers-delight-the-best-of-sugarhill-gang_sugarhill-gang
  margin:20%;
}

##
## umaticore & umatiportal mods
##
##  yeah!!

#calendar {
  max-width: 900px;
  margin: 40px auto;
}

.wrapper {
  width: 90%;
  max-width: 940px;
  margin: 20px auto;
  background-color: #fff;
}

.home-hero {
  display: grid;
  grid-gap: 1px;
  grid-auto-rows: minmax(150px, auto);
}

.home-hero > * {
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #333;
  color: #fff;
}


.btn-squared-default {
        width: 6px !important;
        height: 60px !important;
        font-size: 10px;
}

.btn-squared-default:hover {
            border: 3px solid white;
            font-weight: 800;
}

.btn-squared-default-plain {
        width: 60px !important;
        height: 60px !important;
        font-size: 10px;
}

.btn-squared-default-plain:hover {
            border: 5px solid white;
}

.inactive {
 	display:none;
}

.feature {
  background-image: url(https://images.unsplash.com/photo-1496516348160-24b35a31856f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=334&q=80);
  background-position: bottom left;
  color: #fff;
}

.navtoggler {
  background-color: rgba(0, 123, 255, 100);
}

.navtoggler:hover {
  background-color: rgba(27, 254, 145, 0.2);
  // transition-delay: 1s; /* delays for 1 second */
  // -webkit-transition-delay: 1s; /* for Safari & Chrome */
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
}

.resourcegroup {
  margin: 20px 20px 20px 20px;
}

.news {
  background-image: url(/leaders.png); 
  color: #fff;
}

.special {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.8)),url(/umati.png); 
  color: #fff;
  display: flex;
  flex-direction: column;
}

.special h3,
.amazing h3{
  margin-top: auto;
}

.amazing {
  background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.9)), url(https://images.unsplash.com/photo-1579170053380-58064b2dee67?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60); 
  color: #fff;
  display: flex;
  flex-direction: column;
}

.cta {
  background-image: linear-gradient(rgba(123,14,34,0), rgba(0,0,0,0.8)),url(/lion.jpg);
  color: #fff;
  display: flex;
  flex-direction: column;
}

.move-left {
  width: 15px;
  box-shadow: none;
}

a.spam-button:link {
  border: 1px solid #ccc;
  border-radius: 3px;
  text-decoration: none;
  background-color: #fff;
  color: #333;
  display: block;
  padding: 5px;
  margin: auto auto 20px;
  width: 90%;
  text-align: center;
}

@media (min-width: 500px) {
  .home-hero {
    grid-template-columns: 1fr 1fr;
  }
  
  .feature {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  
  .special {
    grid-column: 1;
    grid-row: 3 / 6;
  }
  .amazing {
    grid-column: 1;
    grid-row: 6;
  }
  .cta {
    grid-column: 2;
    grid-row: 5 / 7;
  }
}

@media (max-width: 420px) {
    div.col-md-4:nth-child(1) > ul:nth-child(1) > li:nth-child(1) {
	    display:none;
    }
    div.col-md-4:nth-child(1) > ul:nth-child(1) > li:nth-child(1) > a:nth-child(1) > img:nth-child(1) {
	    display:none;
    }
    li.nav-item:nth-child(2) {
	    display:none;
    }
    div.col-md-4:nth-child(2) > ul {
	    width:120px;
    }


}

@media (min-width: 800px) {
   .home-hero {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: minmax(150px, auto) minmax(150px, auto);
    grid-auto-rows: minmax(100px, auto);
  }
  .feature {
    grid-column: 1 ;
    grid-row: 1 / 6;
  }
  
  .special {
    grid-column: 2;
    grid-row: 1 / 4;
  }
  .amazing {
    grid-column: 2;
    grid-row: 4 / 6;
  }
  .cta {
    grid-column: 3;
    grid-row: 2 / 6;
  }
}
.dropdown-menu.multi-column {
        width: 400px;
        background-image: "/umati_creativefire_3birds.png";
}

.dropdown-menu.multi-column .dropdown-menu {
        background-image: "/umati_creativefire_3birds.png";
        display: block !important;
        position: static !important;
        margin: 0 !important;
        border: none !important;
        box-shadow: none !important;
        min-width:350px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
  line-height: 45px;

  p, ul {
    margin-bottom: 0;
  }
}

// Input Fields
// -------------------------

textarea {
  resize: vertical;
}

// Navbar
// -------------------------

.caps { 
  text-transform: uppercase; 
}

.navbar-nav img {
  width: 30px;
  min-height: 30px;
  margin: -15px 15px -15px;
}

.navbar{
  padding-top: 0px;
  padding-bottom: 0px;
  margin-bottom: 20px;
  display: block;
}

.navbar-brand{
  font-size: 18px;
  float: left;
}

.navbar-toggler {
  position: relative;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
}

.navbar-toggler-icon {
  font-size: 16px;
}

.dropdown-menu {
  left: initial;
  right: 0;
}




// button raised definition
// this button uses gradient for the background
$btn-raised-color: rgb(51, 51, 51);
$btn-raised-background: #f8f8f8;
$btn-raised-border: rgb(204, 204, 204);
$enable-gradients: true;

.btn-raised {
  @include button-variant(
    $btn-raised-background,
    $btn-raised-border,
    $btn-raised-color
  )
}

/*
* Solves Bootstrap 4 issue
* https://github.com/twbs/bootstrap/issues/25654
*/
/* Styles in sm disposition and up */
@media (min-width: 576px) and (max-width: 767px) {
  /* Solves bs4 bug */
  .navbar-expand-md > .container,
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in md disposition and up */
@media (min-width: 768px) and (max-width: 991px) {
  /* Solves bs4 bug */
  .navbar-expand-lg > .container,
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

/* Styles in lg disposition and up */
@media (min-width: 992px) and (max-width: 1199px) {
  /* Solves bs4 bug */
  .navbar-expand-xl > .container {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}

// Alerts
// -------------------------

.alert {
  margin-top: 20px;
}

// Thumbnails
// -------------------------

.thumbnail {
  padding: 0;
  border-radius: 0;
  box-shadow: 0 0 5px #ccc, inset 0 0 0 #000;
}

// Font Icons
// -------------------------

.fa {
  margin-right: 6px;
}

.fab {
  margin-right: 6px;
}

.fas {
  margin-right: 6px;
}

.far {
  margin-right: 6px;
}

// Basic Snapchat Button CSS
.btn-snapchat {
  background-color: #fffc00;
  color: #000 !important;
read
  &:hover, &:active {
    /*background-color: #f1ef00;*/
    background-color: #f0f3cf;
  }
}

// unsplash

.creditbadge { 
    background-color:black;
    color:white;
    text-decoration:none;
    padding:4px 6px;
    font-family:-apple-system, BlinkMacSystemFont, San Francisco, Helvetica Neue, Helvetica, Ubuntu, Roboto, Noto, Segoe UI, Arial, sans-serif;
    font-size:12px;
    font-weight:bold;
    line-height:1.2;
    display:inline-block;
    border-radius:3px; 
  }

.masth {
  position: relative;
  top: -65px;
  left: 8px;
}


/* Carousel */
.carousel-inner.vertical > .item {
    -webkit-transition: .10s ease-in-out bottom;
    -moz-transition: .10s ease-in-out bottom;
    -o-transition: .10s ease-in-out bottom;
    transition: .10s ease-in-out bottom;
}
@media all and (transform-3d),
(-webkit-transform-3d) {
.carousel-inner.vertical > .item {
    -webkit-transition:-webkit-transform .6s ease-in-out;
    -moz-transition:-webkit-transform .6s ease-in-out;
    -o-transition:-o-transform .6s ease-in-out;
    transition:transform .6s ease-in-out;
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    backface-visibility:hidden;
    -webkit-perspective:1000;
    -moz-perspective:1000;
}
.carousel-inner.vertical > .item.next,
.carousel-inner.vertical > .item.active.right {
    -webkit-transform: translate3d(0, 33.33%, 0);
    -moz-transform: translate3d(0, 33.33%, 0);
    transform: translate3d(0, 33.33%, 0);
    top:0px;
}
.carousel-inner.vertical > .item.prev,
.carousel-inner.vertical > .item.active.left {
    -webkit-transform: translate3d(0, -33.33%, 0);
    -moz-transform: translate3d(0, -33.33%, 0);
    transform: translate3d(0, -33.33%, 0);
    top: 0px;
}
.carousel-inner.vertical > .item.next.left,
.carousel-inner.vertical > .item.prev.right,
.carousel-inner.vertical > .item.active {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    top:0px;
  }
}
.carousel-inner.vertical > .next,
.carousel-inner.vertical > .prev {
    height: 100%;
    width: auto;
}
#carousel-pager .carousel-control.left,#carousel-pager .carousel-control.right{
    width:50px;
    height:50px;
    border-radius: 50%;
    background:#FFF;
    opacity: 1;
    position: absolute;
    top:-65px;
    left:50%;
    transform: translateX(-50%);
}
#carousel-pager .carousel-control.right {
    top:unset;
    bottom: -65px;
    left:50%;
    transform: translateX(-50%);
}
.left .glyphicon,.right .glyphicon{
    position:absolute;
    top:13px;
    left:16px;
    color:#004C70;
}
.right .glyphicon{
    top:16px;
    left:15px;
}
.item img{
    border:1px solid #e2e2e2;
    padding: 5px;
    border-radius:5px;
    margin:5px;
}
.carousel{
    margin-top:80px;
}


.inputstl {
    padding: 9px;
    border: solid 1px #B3FFB3;
    outline: 0;
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #A4FFA4), to(#FFFFFF));
    background: -moz-linear-gradient(top, #FFFFFF, #A4FFA4 1px, #FFFFFF 25px);
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px;
}

#gui {
    position:absolute;
    top:180;
    left:180;
}

.form-control#invite, .form-control#nicname {
    width: 200px !important;
}

/* Cookie Dialog */
#gdpr-cookie-message {
    position: fixed;
    right: 30px;
    bottom: 30px;
    max-width: 375px;
    background-color: var(--white);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 6px 6px rgba(0,0,0,0.25);
    margin-left: 30px;
    font-family: system-ui;
}
#gdpr-cookie-message h4 {
    color: var(--black);
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
#gdpr-cookie-message h5 {
    background-color: var(--black);
    color: var(--white);
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
}
#gdpr-cookie-message p, #gdpr-cookie-message ul {
    color: black;
    font-size: 15px;
    line-height: 1.5em;
}
#gdpr-cookie-message p:last-child {
    margin-bottom: 0;
    text-align: right;
}
#gdpr-cookie-message li {
    width: 49%;
    display: inline-block;
}
#gdpr-cookie-message a {
    color: var(--blue);
    text-decoration: none;
    font-size: 15px;
    padding-bottom: 2px;
    border-bottom: 1px dotted rgba(255,255,255,0.75);
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message a:hover {
    color: white;
    border-bottom-color: var(--red);
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button,
button#ihavecookiesBtn {
    border: none;
    background: var(--red);
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 15px;
    padding: 7px;
    border-radius: 3px;
    border-color: var(--white);
    margin-left: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
#gdpr-cookie-message button:hover {
    background: white;
    color: var(--red);
    transition: all 0.3s ease-in;
}
button#gdpr-cookie-advanced {
    z-index: 1000000;
    background: white;
    color: var(--red);
}
#gdpr-cookie-message button:disabled {
    opacity: 0.3;
}
#gdpr-cookie-message input[type="checkbox"] {
    float: none;
    margin-top: 0;
    margin-right: 5px;
}


// timeline
 
.blue {
  size: 120%;
}

.blue-bg {
  background-color: #4D4545;
  color: #ED8D8D;
  height: 100%;
}

.circle {
  font-weight: bold;
  padding: 15px 20px;
  border-radius: 50%;
  background-color: #9999ff;
  color: #4D4545;
  z-index: 2;
  text: 14pt;
}

.circleadd {
  padding: 10px;
  border-radius: 50px 20px;
   border-radius: 15px 15px 15px 15px; 
   text-decoration: none;
   background-color:#7768dd;
   color: #4D4545;
   z-index: 2;
   text: 14pt #fff;
   text-align: center;
}

.buttontext {
   color: #fff;
}

.circleadd:hover{
   background-color:#8888dd;
   text-decoration: none;
}
.how-it-works.row {
  display: flex;
}
.how-it-works.row .col-2 {
  display: inline-flex;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid #9999ff;
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}
.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}

.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid #9999ff;
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid #9999ff;
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}
