a(href='/account/business') Business Profile - 
if (title !== 'Blog')   
 a(href='/account/blog') Blog - 
if (title !== 'Calendar')
 a(href='/account/cal') Calendar -
if (title !== 'Group')
 a(href='/account/group') Groups - 
if (title !== 'Account Ledger')
 a(href='/account/activity') Savings -  
if (title !== 'Personal Inventory')
 a(href='/account/inventory') Inventory - 
if (title !== 'Point of Sale item manager') 
  a(href='/account/pos') POS

hr